# =========================
# ENV FILES
# =========================

.env
backend/.env
frontend/.env

# =========================
# FIREBASE SECRETS
# =========================

backend/app/firebase/*.json

# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc

# =========================
# NODE
# =========================

node_modules/
dist/

# =========================
# MACOS
# =========================

.DS_Store