# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
backend/venv/

# =========================
# Environment Files
# =========================
.env
backend/.env
frontend/.env

# =========================
# Node
# =========================
node_modules/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Vite
# =========================
.vite/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VSCode
# =========================
.vscode/

